<h1>All our flats (<%= @flats.length %>)</h1>
<div class="cards">
  <% @flats.each do |flat| %>
    <div class="card">
      <img src="https://source.unsplash.com/400x200" alt="flat">
      <div class="card-info">
        <h3><%= flat.name %></h3>
        <h5><%= flat.address %></h5>
      </div>
      <div class="card-icons">
        <p><i class="fas fa-user-friends"></i><%= flat.number_of_guests %></p>
        <p><i class="fas fa-euro-sign"></i> <%= flat.price_per_night %></p>
      </div>
      <div class="card-bottom">
      <button class="btn btn-primary"><%= link_to 'More info', flat_path(flat) %></button>
      <button class="btn btn-warning"><%= link_to 'Edit', edit_flat_path(flat) %></button>
      <button class="btn btn-danger"><%= link_to 'Delete', flat_path(flat),method: :delete,data: { confirm: "Are you sure?" }  %></button>
      </div>
    </div>
  <% end %>
</div>
